body{
    background-color:  #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.main-container {
    object-fit: fill;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:  #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
}

.form{
    width: 100%;
    text-align: center;
}

.input-bar{
    padding: 20px;
    width: 40%;
    border-radius: 2px;
    font-size: 22px;
    border: 2px solid black;
   
}

.search-button{
    min-height: 100%;
    width: 10%;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background-color:  #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}